<div class="container-fluid welcome-container">
  <h1 class="welcome-title">Engage your audience in real-time</h1>

  <div class="welcome-text">
    <p class="welcome-text-paragraph">LivePoll provides a platform to poll an audience in real-time.</p>
    <p class="welcome-text-paragraph-lower hidden-xs">With a simple url-friendly name for your page, you're up and running in no time. <br> Users get new questions, results and votes pushed to their devices so they can focus on the learning rather than the technology.</p>
  </div>
  <a href="/users/register" id="create-page-button-welcome">Create your page!</a>
</div>
