<div class="container-fluid home-intro-container">
  <h1 class="home-title">Ask away...</h1>

  <%#= render 'form' %>


    <% if @poll_centre.errors.any? %>

    <div class="alert alert-warning" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <ul>
      <% @poll_centre.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>

    <% end %>

    <p class="intro-text">
        Great real responses live. Create a page for your lecture/class/presentation/event/conference and start asking questions now
    </p>

  <div class="new-poll-centre-form">
    <%= form_for(@poll_centre) do |f| %>

      <div class="field">
        <%#= f.label :title %><br>
        <%= f.text_field :title, :placeholder => "e.g. comic-con-qa-2014", class: "title-input"%>
      </div>
      <div class="actions">
        <button class="btn btn-success" id="create-page-button" type="submit">Create your page!</button>
      </div>
    <% end %>
  </div>
</div>