<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @poll_centre.title %>
</p>

<%= link_to 'Edit', edit_poll_centre_path(@poll_centre) %> |
<%= link_to 'Back', poll_centres_path %>
