/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: rgb(231, 231, 231) !important;
  font-family: 'Roboto Slab', Helvetica, sans-serif !important;

}

#main-nav {
  font-weight: 500;
  color: black;
}

#main-nav a {
  font-weight: 500;
  color: black;
}

#brand {
  font-size: 1.3em;
}

#nav-bar-right a {
  font-size: 1.0em;
  font-weight: 700;
}

.home-intro-container {
  background-color: white;
  min-height: 300px;
  border-radius: 8px;
}

.main-container {
  margin: auto;
  width: 1000px;
}

.home-title{
  color: #33a6b8;
/*  font-family: Lato, serif;
*/}


p {
  font-family: 'Roboto Slab', Helvetica, sans-serif;
}

.intro-text {
  font-size: 1.3em;
  font-weight: 300;
}

.title-input {
  min-width: 35%;
}
.field_with_errors {
  background-color: white !important;
}

.new-poll-centre-form {
  text-align: center;
}

#nav-bar-background {
  background-color: white;
}


/*poll center show*/

#poll-centre-show-title {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin: auto;
  margin-top: 1%;
  font-weight: 300;
  font-size: 1.1em;
  font-family: Lato;
}


.poll-centre-container {
  background: white;
  min-height: 300px;
  border-radius: 10px;
}